
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
</head>
<body>
    <h1>Info</h1>
    <ul>
        <li>Argumento de entrada: <%= info.argumentoDeEntrada %></li>
        <li>Nombre de la plataforma (sistema operativo): <%= info.sistemaOperativo %></li>
        <li>Versión de node.js: <%= info.versionNodeJS %></li>
        <li>Memoria total reservada (rss): <%= info.memoriaTotalReservada %></li>
        <li>Path de ejecución: <%= info.pathDeEjecucion %></li>
        <li>Process id: <%= info.processId %></li>
        <li>Carpeta del proyecto: <%= info.carpetaDelProyecto %></li>
    </ul>
</body>
</html>